/* .outer changes the look of the webiste without being responsive. */
.outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  align-items: center;
  float: right;
  width: 50%;
  height:50%;
  margin-top: 15px;
  /* margin: 0 auto; */

}

  /* .videos{
    display: flex;

  } */



/* .icons{
  display: flex;
  flex-direction: row;
  background-color: brown;
  justify-content: space-around;
  position: relative;
  align-items: center;
  width: 1%;
  height:1%;
  border: 5px;
  margin: 15px;
} */

/* h3 {
  font-size: 20px;
  color: blue;
  margin-top: 5px;
}  */

.vidz {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-self: center;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  position: relative;
  align-content: left;
  /* height: 10%; */
  margin-bottom: 10px;
}

.href{
  display: flex;
  
}



.buttonz {
  /* display: flex; */
  padding: 10px;  
  align-items: center;
  align-self: center;
  /* margin-bottom: 15px; */
  /* margin-top: 5px; */
  text-decoration: none;
  /* margin-bottom: 15px */
      }

      @media(min-width: 500px) {
          h3{
              font-size: 15px;
          }
        }

    @media(max-width: 500px) {
        .outer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        align-items: center;
        width: 100%;
        height:100%;
        /* border: 5px; */
        /* margin: 15px; */
      }
      .buttonz {
        display: flex;
        padding: 5px;  
        justify-content: center;
        margin-bottom: 15px;
        margin-top: 5px;
        text-decoration: none;

      } 
       
      .PayDown{
        /* display: flex; */
        padding: 5px;  
        justify-content: center;
        /* margin-bottom: 5px; */
        /* margin-top: 5px; */
        text-decoration: none;
      }
  } 