header {
    display: flex;
    justify-content: space-evenly; 
    background-color: grey;
    height: 70px;
    /* box-align: right; */
    font-size: 1rem;
    font-weight: 40;
     line-height: 1;
   
    
}
.home a{
    display: flex;
    float: left;
    font-size: 30px;
    font-family: sans-serif;
    /* justify-items: right; */
    text-decoration-style: none;
    /* padding-right: 40px; */
    padding-top: 20px;
    position: relative;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900
}
/* .home a{
    color: red;
} */

.pilots a{
    display: flex;
    float: right;
    font-size: 30px;
    font-family: sans-serif;
    /* justify-items: right; */
    /* padding-right: 60px; */
    padding-top: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900
}
/* .nav{
    display: flex;
    background-color: skyblue;
    box-align: left;
    padding: 2px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    font-size: 20px;
    margin: 5px;
    
} */

@media(max-width: 500px){
    header{
        
        /* position: fixed; */
        /* justify-content: space-around;
        position: relative;
        align-items: center;
        width: 100vw;
        height:2vh;
        border: 5px;
        padding-top: 50px;
        text-decoration: none; */

        display: flex;
        justify-content: space-evenly; 
        background-color: grey;
        height: 50px;
        /* box-align: right; */
        font-size: 1rem;
        font-weight: 40;
         line-height: 1;
        
    }
    
    .home a {
        display: flex;
        position: relative;
        font-size: 15px;
        justify-items: center;
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        
    }
    .pilots a{
        display:flex;
        position: relative;
        float: left;
        font-size: 15px;
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-left: 70px;
        text-decoration: none;
    }
}



/* .logo, #main-nav {
    background-image: url("../logo.png");
    border-radius: 60px;
    float: left;
    background-color: white;
}
.logo {
    height: 100px;
    width: 100px; 
    float: left;
} */