.pilotView{
    display: flex;
    width: 80%;
    flex-direction: row;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    align-content: left;
    height: 75%;
    margin:5px;
  }
