.videos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
    width: 25%;
    height:30%;
    border: 5px;
    margin: 15px;
  }